.main {
  background-color: #f4f6f5;

  &__sidebar {
    flex: 0 0 270px;
    min-width: 270px;
    padding-right: 30px;
    transition: transform .3s ease-out;

    @include tablet {
      position: fixed;
      height: 100vh;
      background-color: #fff;
      top: 0;
      left: 0;
      z-index: 10;
      overflow-y: scroll;
      transform: translateX(-340px);

      &--active {
        transform: translateX(0);
      }
    }
  }

  &__sidebar-close {
    display: none;
    cursor: pointer;
    padding: 15px;
    font-size: 24px;
    justify-content: flex-end;
    color: #90a4ae;
    transition: color .3s ease-out;

    @include tablet {
      display: flex;
    }

    &:hover {
      color: $red;
    }
  }

  &__content {
    max-width: 100%;
  }

  &__wrapper {
    padding-bottom: 110px;

    @include tablet {
      padding-bottom: 90px;
    }
    @include mobile-large {
      padding-bottom: 70px;
    }
    @include mobile {
      padding-bottom: 40px;
    }
  }

}