.become {
  padding-left: 15px;
  padding-right: 15px;

  @include laptop {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include tablet {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include mobile-large {
    padding-left: 15px;
    padding-right: 15px;
  }@include mobile {
     padding-left: 10px;
     padding-right: 10px;
   }

  &__container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1105px;
    height: 438px;
    background-color: #b5b5b5;
    box-shadow: 0 0 20px 2px #90a4ae;

    @include tablet {
      height: 400px;
    }

    @include mobile {
      height: 320px;
    }
  }

  &__inner-container {
    display: flex;
    align-items: center;
    background-color: $green;
    padding: 60px 76px;

    @include tablet {
      padding: 50px 54px;
    }

    @include mobile-large {
      flex-direction: column;
    }

    @include mobile {
      padding: 30px 15px;
    }
  }

  &__info {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;

    @include tablet {
      font-size: 28px;
      line-height: 34px;
    }

    @include mobile {
      font-size: 24px;
      line-height: 28px;
    }

    span {
      display: block;
    }
  }

  &__btn {
    padding: 24px 42px;
    color: #263238;
    font-size: 18px;
    font-weight: 400;
    background-color: #fff;
    margin-left: 48px;

    @include tablet {
      padding: 20px 38px;
      margin-left: 40px;
    }

    @include mobile-large {
      margin-left: 0;
      margin-top: 30px;
    }

    @include mobile {
      padding: 12px 18px;
      width: 100%;
      text-align: center;
      font-size: 16px;
    }
  }

}