.author-products {
  margin-top: 52px;

  &__title {
    padding: 0 28px;
    height: 60px;
    line-height: 58px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;color: #263238;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 28px;
  }
}