.jq-file {

  &__name {
    border-radius: 0;
    padding: 0 20px 0 112px;
    height: 40px;
    border: 1px solid #d7d7d7 !important;
    background: #f9f9f9;
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
  }

  &__browse {
    right: auto;
    width: 90px;
    height: 26px;
    border: 1px solid #d7d7d7;
    background: #fff;
    border-radius: 0;
    text-shadow: none;
    line-height: 24px;
    top: 7px;
    left: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: none;
  }
}