.card {
  box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
  background-color: #ffffff;


  &__img {
    background-color: #d4d4d4;
    width: 100%;
    height: 250px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {

  }

  &__info-text {
    width: 80%;
  }

  &__info-top {
    border-bottom: 1px solid #e7ecf2;
    padding: 28px 30px 16px 30px;
  }

  &__name {
    display: block;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #263238;
  }
  &__desc {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    color: $green;
    font-size: 14px;
    font-weight: 500;
  }

  &__info-price {
    font-size: 20px;
    font-weight: 700;
    color: #263238;
  }

  &__info-bottom {
    padding: 16px 30px 20px 30px;
  }

  &__author-wrapper {}



  &__author-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__author-wrapper-left {
    flex-shrink: 0;
    flex-basis: 60%;
    width: 60%;
  }
  &__author-wrapper-right {
    flex-shrink: 2;
    padding-bottom: 3px;
  }

  &__author {
    font-size: 14px;
    font-weight: 500;
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__author-stars {
    margin-right: 10px;
    white-space: nowrap;
    i {
      font-size: 12px;
      color: #ffa726;
      margin: 0 -2px;
    }
  }

  &__author-stars-count {
    font-size: 12px;
    font-weight: 400;
    color: #b0bec5;
  }
}